<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:annotation-config />

    <bean id="dictionary" class="org.bakhitov.game.balda.Dictionary">
        <property name="start" value="true"/>
    </bean>
    <bean id="game" class="org.bakhitov.game.balda.Game">
        <property name="dictionary" ref="dictionary"/>
        <property name="parser" ref="parser"/>
    </bean>
    <bean id="parser" class="org.bakhitov.game.balda.Parser">
        <constructor-arg name="dictionary" ref="dictionary"/>
        <constructor-arg name="fileName" value="word_rus.txt"/>
    </bean>

</beans>